{% extends "base.html" %}

{% block content %}
    <div class="main" id="welcome">
        <h1>Welcome!</h1>
        <span class="brmedium"></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBPaQsUjxIN14zsIP83LwMYU6goUkKNTTl4w&usqp=CAU" alt="distance" style="max-width: 150px;">
        <img src="https://i.giphy.com/media/3ohzdFCn9mYfmuAmEU/giphy.webp" alt="distance" style="max-width: 200px;">
        <img src="https://www.kindpng.com/picc/m/185-1855384_ice-bear-is-hungry-cartoon-hd-png-download.png" alt="distance" style="max-width: 200px;">
        <span class="brmedium"></span> 
        Need a <a href="/quiz">dining hall</a> suggestion?
    </div>
{% endblock %}