{% extends "base.html" %}

{% block content %}
    <div class="main" id="section0">
	    <h1>Hi, welcome!</h1>
        <p>Answer the following questions:</p>
        <a href="#section1"><button class="button button">Start</button></a>
    </div>

    
    
    <form method=post>
      <div class="main" id="section1">
        <h2>What form of transportation do you use on campus?</h2><br>
        <img src="https://media.tenor.com/images/fa115637e773f5dd9bd43634e9c93054/tenor.gif" alt="walking" style="max-width: 200px;">
        <img src="https://i.pinimg.com/originals/0a/d0/76/0ad076a19ab7c5f249463e63aa5bc5a9.gif" alt="rollerskating" style="max-width: 200px;">
        <img src="https://i.giphy.com/media/geFGrjlJb2t80LiJf9/source.gif" alt="boarding" style="max-width: 200px;">
        <img src="https://i.giphy.com/media/KZPGvUz1ViJ8AP6q2T/giphy.webp" alt="biking" style="max-width: 200px;">
        <img src="https://images.squarespace-cdn.com/content/v1/5d3b0a585c5b5f00012c479a/1564525333184-5OZ6GI3JG99BPQZLG6EN/ke17ZwdGBToddI8pDm48kI1dxkzCdoaQDevnVA9R4g1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyKi-oUoBVevRLtXFipgGDcIiZgSYdrptGW3-0WE_JDnWAg8j-9wbE7_h7uxkrF2Ds/DeerWhale-2016-PalmerScooter-Sticker.gif" alt="scooter" style="max-width: 200px;">
        <br>
        <select name="transportation" id="transportation" required>
          <option value="9" disabled selected></option>
          <option value="0">Walking</option>
          <option value="1">Rollerskating</option>
          <option value="2">Boarding</option>
          <option value="3">Biking</option>
          <option value="4">Scooter</option>
        </select>
        <br>
        <a href="#section2"><button class="button button">Next</button></a>
      </div>
      <br>
      
      <div class="main" id="section2">
      	<h2>What is your favorite hangout spot?</h2><br>
        <select name="hangout" id="hangout" required>
          <option value="9" disabled selected></option>
          <option value="0">Motley</option>
          <option value="1">The Coop</option>
          <option value="2">The Hub</option>
          <option value="3">The Cafe</option>
          <option value="4">Milk and Honey</option>
          <option value="5">Jay's Place</option>
        </select>
        <br>
        <a href="#section3"><button class="button button">Next</button></a>
      </div>
  
      <br>
      <div class="main" id = "section3">
        <h2>Do you like sushi?</h2><br>
        <select name="sushi" id="sushi" required>
          <option value="9" disabled selected></option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br>
        <a href="#section4"><button class="button button">Next</button></a>
      </div>
      
      <br>
      <div class="main" id="section4">
        <h2>Do you like cookies?</h2><br>
        <img src="https://images.squarespace-cdn.com/content/v1/5693dd60a2bab8b5b8efe501/1524150136046-5P65JUN9X1736I9ML32W/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcBuOI1B-QmiZ_37SVSXkegPK1En_L2Pwc3YJ9SIu4KmHHvQzV-CQyV2H-58PDX9Eg/Cookies.gif" alt="cookies" style="max-width: 200px;">
        <img src="https://thumbs.gfycat.com/UnfortunateFreshIcefish-size_restricted.gif" alt="c_monster" style="max-width: 200px;">
        <br>
        <select name="cookies" id="cookies" required>
          <option value="9" disabled selected></option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br>
        <a href="#section5"><button class="button button">Next</button></a>
      	<br>
      </div>
      
      <div class="main" id="section5">
      	<h2>Have you ever been to Pepo Melo?</h2><br>
        <select name="pepo_melo" id="pepo_melo" required>
          <option value="9" disabled selected></option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br>
        <a href="#section6"><button class="button button">Next</button></a>
        <br>
      </div> 
        
      <div class="main" id = "section6">
      	<h2>How many times on average do you go to the village per month?</h2><br>
        <img src="https://caity12.files.wordpress.com/2010/05/club-penguin-welcme.gif" alt="village" style="max-width: 300px;">
        <br>
        <input type=number name =village required>
        <br>
        <a href="#section7"><button class="button button">Next</button></a>
        <br>
      </div>
        
      <div class="main" id = "section7">
        <br>
      	<h2>How many times on average do you eat at a dining hall that is not at your home campus per week?</h2>
        <img src="https://media0.giphy.com/media/9Jg9cEQMiYQSYog8zu/giphy.gif" alt="other_campus" style="max-width: 300px;">
        <br>
        <input type=number name =other_campus required>
        <br>
        <a href="#section8"><button class="button button">Next</button></a>
        <br>
      </div>

      <div class="main" id="section8">
        <h2>How many times on average do you eat breakfast per week?</h2><br>
        <img src="https://media0.giphy.com/media/YS4YkjjMzibMsgGuPn/source.gif" alt="pancakes" style="max-width: 250px;">
        <img src="https://media2.giphy.com/media/CjGhY9xPbbbknfoiF3/giphy.gif" alt="acai" style="max-width: 200px;">
        <img src="https://media2.giphy.com/media/1jYx5E42g99oQuMIJK/giphy.gif" alt="eggs" style="max-width: 200px;">
        <br>
        <input type=number name =breakfast required>
        <br>
        <a href="#section9"><button class="button button">Next</button></a>
        <br>
      </div>
        
      <div class="main" id = "section9">
        <h2>Do you prefer ice cream or fruit?</h2><br>
        <img src="https://i.pinimg.com/originals/e6/01/f5/e601f5d7b407e87baf850261614f77c3.gif" alt="dessert" style="max-width: 300px;">
        <img src="https://4.bp.blogspot.com/-uiS2J_DPsEs/W4CXSjHFTOI/AAAAAAAeVls/cf-b4MVfE94cvHFlj1aVQKqZgPOmZ7tbwCLcBGAs/s1600/AW1616122_11.gif" alt="walking" style="max-width: 250px;">
        <br>
        <select name="dessert" id="dessert" required>
          <option value="9" disabled selected></option>
          <option value="1">Ice Cream</option>
          <option value="0">Fruit</option>
        </select>
        <br>
        <a href="#section10"><button class="button button">Next</button></a>
        <br>
      </div>
        
    	<div class="main" id = "section10">
        <br>
        <h2>How long on average does it take for you to walk to your favorite dining hall? (in minutes)</h2><br>
        <img src="https://media2.giphy.com/media/1xNmhaXpUy5OSyloal/giphy.gif" alt="distance" style="max-width: 300px;">
        <br>
        <input type=number name =distance required>
        <br>
        <a href="#section11"><button class="button button">Next</button></a>
        <br>
      </div>

      <div class="main" id = "section11">
        <button class="button" style="vertical-align:middle"><span>Submit </span></button>
      </div>

    </form>

{% endblock %}